<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>New Skill</h1>
  <form action="/skills" method="POST" autocomplete="off">
    <label for="skill-input">Skill:</label>
    <input type="text" name="skill" id="skill-input">
    <label for="yearsXp-input">Years of Experience:</label>
    <input type="text" name="yearsXp" id="yearsXP-input">
    <label for="proficient-checkbox">Proficiency:</label>
    <input type="checkbox" name="proficient" id="proficient-checkbox" checked>
    <button type="submit">Save Skill</button>
  </form>
</body>
</html>